.t-nav-button:hover {
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.t-nav-button:active {
  background: white;
}

.t-editor-line:focus {
  outline: none;
}

p:empty::before {
  content: "write your text";
  color: gray;
}

p:empty:focus::before {
  content: "";
}

p:focus::after {
  content: " ▌";
  color: green;
}
