/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.desktop {
  width: 100%;
  height: 100%;
}

.desktop-active {
  display: block;
}

.desktop-hide {
  display: none;
}

.icon {
  position: absolute;
}

.icon-image {
  width: 100px;
  height: 100px;
}

.icon-name {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 20px;
  background-color: black;
  color: white;
}

.explorer {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
  display: flex;
  align-items: center;
}

.explorer > button {
  width: 100px;
  height: 50px;
  margin-left: 20px;
}

.window {
  width: 500px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  display: block;
  flex-flow: column;
  position: absolute;
  top: 10px;
  left: 10px;
}

.window-bar {
  width: 100%;
  height: 30px;
  background-color: gray;
  display: flex;
  align-items: center;
}

.window-close-button {
  position: absolute;
  right: 10px;
}
